<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand" style="height: 123px;
    margin-top: 12px;
    display: flex;
    justify-content: center;">
        <img style="width:40%" src="/polri.png" />
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <MenuItem Title="Dashboar" Path="/pemohon" Icon="bxs-dashboard" />
        <MenuItem Title="Profile" Path="/pemohon/profile" Icon="bxs-user-detail" />
        <MenuItem Title="Permohonan" Path="/pemohon/permohonan" Icon="bx-credit-card-front" />


    </ul>
</aside>
