@layout PimpinanLayout
@page "/pimpinan"

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager nav

<PageTitle>Index</PageTitle>

<div class="container-xxl flex-grow-1 container-p-y">
    <img style="width:100px; margin:30px" src="/polri.png" />
    <h3>KEPOLISIAN REPUBLIK INDONESIA</h3>
    <h3>DAERAH PAPUA</h3>
    <h5>RESORT KOTA JAYAPURA KOTA</h5>
    <h5>SAT RESERSE NARKOBA JAYAPURA KOTA</h5>

    Aplikasi Pembuatan Surat Keterangan Bebas Narkoba !
    <SurveyPrompt Title="Rastra Sewakottama" />
    <img style="width:30%; opacity:0.2; position:absolute; right:10px; bottom:10px" src="/logosatnarkoba.png" />
</div>


@code {

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity.IsAuthenticated || !user.IsInRole("Pimpinan"))
        {
            nav.NavigateTo("/account/login");
        }
    }


}